:root{
    --cyanPrimary:#2ab2af;
    --bringYellowPrimary:#c0df34;
    --lightGrey:#e5eff5;
    --greyish:#98a6bd;
}
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html{
    font-size: 62.5%;
    
}

body{
    width:100%;
    height: 100vh;    
    background-color:var(--lightGrey);
}

.main-container{
    width:75%;
    height: auto;
    margin:0 auto;
    margin-top:35px;
    display:flex;
    flex-wrap: wrap;
    border-radius: 8px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.16);
    
    
}

.main-container--communityInfo{
    width:100%;
    height: 220px;
    padding:20px;
    background-color:white;
}

.main-container--communityInfo h1{
    margin-bottom:15px;
    font-size: 2.0rem;
    line-height: 2.8rem;
    color:var(--cyanPrimary);
    font-weight: bold;
}

.main-container--communityInfo h2{
    margin-bottom:20px;
    font-size:1.8rem;
    line-height: 2.0rem;
    font-weight: 500;
    color:var(--bringYellowPrimary);

}

.main-container--communityInfo p{
    margin-bottom:15px;
    font-size: 1.0rem;
    line-height: 2.0rem;
    font-weight: 300;
    color:var(--greyish);
}
